src/file_saver_server/FileSaver.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="FileSaver"
  targetNamespace="urn:FileSaver"
  xmlns:tns="urn:FileSaver"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:ns="urn:FileSaver"
  xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:HTTP="http://schemas.xmlsoap.org/wsdl/http/"
  xmlns:MIME="http://schemas.xmlsoap.org/wsdl/mime/"
  xmlns:DIME="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/"
  xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
  xmlns="http://schemas.xmlsoap.org/wsdl/">

<types>

  <schema targetNamespace="urn:FileSaver"
    xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
    xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:ns="urn:FileSaver"
    xmlns="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="unqualified"
    attributeFormDefault="unqualified">
    <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
    <simpleType name="ErrorCode"><!-- ns__ErrorCode -->
      <restriction base="xsd:QName">
        <!-- = 0 -->
        <enumeration value="ns:NO-ERROR"/><!-- ns__NO_ERROR -->
        <!-- = 1 -->
        <enumeration value="ns:COULD-NOT-OPEN-FILE"/><!-- ns__COULD_NOT_OPEN_FILE -->
        <!-- = 2 -->
        <enumeration value="ns:COULD-NOT-SAVE-FILE"/><!-- ns__COULD_NOT_SAVE_FILE -->
        <!-- = 3 -->
        <enumeration value="ns:COULD-NOT-LOAD-FILE"/><!-- ns__COULD_NOT_LOAD_FILE -->
      </restriction>
    </simpleType>
  </schema>

</types>

<message name="saveFileRequest">
  <part name="fileName" type="xsd:string"/><!-- ns__saveFile::fileName -->
  <part name="fileData" type="xsd:base64Binary"/><!-- ns__saveFile::fileData -->
</message>

<message name="saveFileResponse">
  <part name="errorCode" type="ns:ErrorCode"/><!-- ns__saveFile::errorCode -->
</message>

<message name="loadFile">
  <part name="fileName" type="xsd:string"/><!-- ns__loadFile::fileName -->
</message>

<message name="loadFileResponse">
  <part name="fileData" type="xsd:base64Binary"/><!-- ns__loadFile::fileData -->
  <part name="errorCode" type="ns:ErrorCode"/><!-- ns__loadFile::errorCode -->
</message>

<portType name="FileSaverPortType">
  <operation name="saveFile">
    <documentation>Service definition of function ns__saveFile</documentation>
    <input message="tns:saveFileRequest"/>
    <output message="tns:saveFileResponse"/>
  </operation>
  <operation name="loadFile">
    <documentation>Service definition of function ns__loadFile</documentation>
    <input message="tns:loadFile"/>
    <output message="tns:loadFileResponse"/>
  </operation>
</portType>

<binding name="FileSaver" type="tns:FileSaverPortType">
  <SOAP:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="saveFile">
    <SOAP:operation style="rpc" soapAction=""/>
    <input>
          <SOAP:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FileSaver"/>
    </input>
    <output>
          <SOAP:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FileSaver"/>
    </output>
  </operation>
  <operation name="loadFile">
    <SOAP:operation style="rpc" soapAction=""/>
    <input>
          <SOAP:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FileSaver"/>
    </input>
    <output>
          <SOAP:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FileSaver"/>
    </output>
  </operation>
</binding>

<service name="FileSaver">
  <documentation>gSOAP 2.8.82 generated service definition</documentation>
  <port name="FileSaver" binding="tns:FileSaver">
    <SOAP:address location="http://localhost:80"/>
  </port>
</service>

</definitions>
